body {
  background-image: url(Images/uas_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--black);
}

.parent {
  margin: 20px auto;
  width: 95%;
  max-width: 1280px;
  padding: 10px;
  opacity: 0.95;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px auto 100px;
  grid-template-areas:
    "a a a a a"
    "b b b b b"
    "c c c c c";
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.div1 {
  grid-area: a;
  border: 1px solid black;
  border-radius: 20px 20px 0 0;
  background-color: #0c1818;
  padding: 12px;
  text-align: center;
}

.div2 {
  grid-area: b;
  padding: 10px;
  border: 1px solid black;
  background-color: #c8e3ef;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px repeat(5, 100px);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  grid-template-areas:
    "a1 a1"
    "b1 c1"
    "d1 e1"
    "f1 g1"
    "h1 i1"
    "j1 j1";
}

.diva {
  grid-area: a1;
}
.divb {
  grid-area: b1;
}
.divc {
  grid-area: c1;
}
.divd {
  grid-area: d1;
}
.dive {
  grid-area: e1;
}
.divf {
  grid-area: f1;
}
.divg {
  grid-area: g1;
}
.divh {
  grid-area: h1;
}
.divi {
  grid-area: i1;
}
.divj {
  grid-area: j1;
}

.div3 {
  grid-area: c;
  border-radius: 0 0 20px 20px;
  padding: 12px;
  background-color: #0c1818;
}

.header {
  color: #c8e3ef;
}

.header2 {
  color: #c8e3ef;
}

.header3 {
  color: #c8e3ef;
}

.rmiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formatting {
  border-radius: 20px;
  background-color: #93c3d7;
  padding-left: 20px;
  transition: transform 0.2s ease;
}

.size_change:hover {
  transform: scale(1.025);
}

a {
  color: #c8e3ef;
  transition: color 0.3s ease;
}

a:hover {
  color: #4a98b4;
}

.header2::after {
  content: " | ";
  color: #c8e3ef; /* Color of the vertical line */
}

.header3::before {
  content: " | ";
  color: #c8e3ef; /* Color of the vertical line */
}

/* Base font size */
html {
  font-size: 14px;
}

/* Adjust font size for larger screens */
@media (min-width: 768px) {
  .diva {
    margin-bottom: 5px;
    font-size: 12px;
  }
  html {
    font-size: 14px;
  }
}

/* Adjust font size for even larger screens */
@media (min-width: 1024px) {
  .diva {
    font-size: 16.25px;
  }
  html {
    font-size: 16.25px;
  }
}

/* Adjust font size for smaller screens */
@media (max-width: 600px) {
  .diva {
    margin-bottom: 5px;
    font-size: 9px;
  }
  .div3 {
    font-size: 8px;
  }
  html {
    font-size: 10px;
  }
  body {
    height: 85%;
  }
}

/* Color Pallete
#36626A
#C8E3EF
#689FB1
#6A784D
#5A5F47
#93C3D7
#0C1818
#F0F7F8
#8C9693
#4A98B4
#A1AC9A
#3EBAB5
*/
